<div class="site-title">
  <h1>
    <a href="/">
      <img src="/ui/toto_logo.png" srcset="/ui/toto_logo@2x.png 2x, /ui/toto_logo@3x.png 3x" alt="{{ .Site.Title }}" />
    </a>
  </h1>
</div>
<nav>
  <ul class="nav-main">
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/exhibitions">Exhibitions</a></li>
    <li><a href="/folio-editions">Folio Editions</a></li>
    <li><a href="{{ site.Params.membershipURL }}">Membership</a></li>
    {{/*
    <li><a href="//store.ttvl.co">Store</a></li>
    */}}
    <li><a href="/press">Press</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <ul class="nav-secondary">
    <li><a href="//ttvl.co/newsletter">Process Newsletter</a></li>
    <li><a href="{{ site.Params.membershipURL }}">Quarterly Zines</a></li>
    <li><a href="//ttvl.co">Alter Ego</a></li>
  </ul>
</nav>
